body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6d46ac, #eb4fb3);
  height: 100vh;
}